<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Detalle PR #<%= @index %></h1>
	Creador: <%= @pr.creador %>
	<br>
	Link de Github: <%= @pr.link_github %>
	<br>
	Link de Jira: <%= @pr.link_jira %>
</body>
</html>