<!DOCTYPE html>
<html>
<head>
	<title>Kinapay</title>
</head>
<body>
	<h1>Lista de Pull Requests</h1>	
	<form action="/pull_request", action="GET">
		<input type="submit" name="Crear PR" value="crear">
	</form>
</body>
</html>